<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <DataProvider>
    <!--<Provider>Fake</Provider>-->
    <Provider>MsSql2016</Provider>
    <Server>DESKTOP-3BAAIFR\SQLEXPRESS</Server>
    <DataBase>DepoiTDataBase</DataBase>
    <Login>sa</Login>
    <Password>Password123</Password>
  </DataProvider>
  <LoggingLevel>Info</LoggingLevel>
</Config>