<!DOCTYPE html>
<html>
<head>
    <title>DepoiT: @ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="row">
            @RenderBody()
    </div>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/fortawesome/fontawesome-free/js/fontawesome.js"></script>
    <script src="~/lib/fortawesome/fontawesome-free/js/solid.js"></script>

    @RenderSection("scripts", false)
</body>
</html> 