<div class="col">
    <div class="row">
        <div class="col-12">
            <header-section></header-section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <h2>Storages</h2>
            <storage-list></storage-list>
        </div>
        <div class="col-md-3">
            <h2>Depots</h2>
            <depot-list></depot-list>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <footer-section></footer-section>
        </div>
    </div>
</div>
